.App {
  font-family: sans-serif;
  text-align: center;
}

h1,
p {
  font-family: Lato;
}

.buttonClick {
  color: red;
  margin: 20px;
  padding: 15px;
  border-radius: 30px;
  border-color: purple;
}

.mainCircle {
  background-color: lightblue;
  padding: 70px;
  margin: auto;
  width: 10px;
  border: 2px solid red;
  border-radius: 550px;
}
